body{
    background-color: aquamarine;
}
h1,h3{
    color:blue;
}
#l{
    color: navajowhite;
}
ol{
    background-color: brown;
}
#div1{
    background-color: crimson;
    border: 5px solid purple;
    border-radius: 5px;
}
img{
    bor
}